* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 0%);
  color: #e6ad03;
  font-family: 'Courier New', monospace;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.container {
  max-width: 500px;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 4px;
}

.subtitle {
  color: hwb(0 100% 0% / 0.733);
  margin-bottom: 32px;
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
}

input {
  background: hwb(42 0% 85%);
  border: 1px solid hsl(32, 90%, 43%);
  color: #f0ede4;
  padding: 12px;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border-color: hwb(100 3% 27%);
}

button {
  background: #f0ede4;
  color: #0d0d0d;
  border: none;
  padding: 12px;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #ccc;
}